@import url('./normalize.css');
@import url('./vars.css');
@import url(./fonts.css);


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
html,
body {
    min-height: 100vh;
    font-size: var(--font-size-main);
    color: var(--font-color);
    letter-spacing: var(--letter-spac);
    
}
.container {
    max-width: var(--width-container);
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(auto, 385px) 1fr;
    grid-template-rows: minmax(80px, auto) 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 70px;
    position: relative;
   
}
/* -------------------------------------------------- */
.header {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    position: fixed;
    background-color: #FFF;
    width: 100%;
    max-width: 1200px;
    z-index: 2;
    
}
.header__cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    
}
.header__nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.lang-toggle {
    /* border: 1px solid #000000; */
    border: none;
    background: none;
    font-family: 'Tourney', sans-serif;
    line-height: 0.82;
    color: #000000;
}
.nav__item a {
    color: #000000;
}
.nav__items {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    list-style: none;
    margin: 0;
    font-family: 'Staadliches', sans-serif;
    line-height: 1.27;
    letter-spacing: 0.03em;
}
/* ------------------------------ */

.side-bar {
    display: inline-block;
    width: 100%;
    max-width: 385px;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    position: sticky;
    top: 80px;
    align-self: start
}
.side-bar__items {
    list-style: none;

}
.side-bar__item {
    font-family: 'Francois One',sans-serif;
    font-size: 1.63rem;
    line-height: 1.33;
    text-transform: uppercase;
    border-bottom: 1px solid #C9C9C9;
    padding-bottom: 10px;
    margin-bottom: 80px;
}
.side-bar__item a {
    color: var(--font-color);
}
/* ----------------------------- */
.main {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
.img_bg {
    position: fixed;
    z-index: -1;
    right: 0;
    top: 150px;
}

.chapter {
    margin-bottom: 70px;
    position: relative;
}
.chapter::before {
    content: "";
    width: 100px;
    height: 8px;
    background-color: #000000;
    position: absolute;
}
.title {
    margin-bottom: 40px;
    padding-top: 20px;
}
.title h2 {
    display: inline-block;
    font-family: 'Francois One',sans-serif;
    font-size: 1.63rem;
    line-height: 1.33;
    text-transform: uppercase;
}
.sub-title {
    display: inline-block;
    font-family: 'Farro', sans-serif;
    font-size: 0.72rem;
    line-height: 1;
    vertical-align: top;
}
.text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.27rem;
    line-height: 1.71;
}
.underl {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: 700;
}
.bg {
    background: #DADADA;
}
/* -------------------------- */
.container_2 {
    max-width: var(--width-container);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(80px, auto) 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 70px;
    position: relative;
    
}
.main_2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    position: relative;
}
.title_2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.63rem;
    line-height: 1.33;
    margin-left: 120px;
    margin-bottom: 40px;
}
.main_2::before {
    content: "";
    width: 100px;
    height: 8px;
    background-color: #000000;
    position: absolute;
    top: 20px;
}

/* ---------------------------- */
.users {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
    margin-bottom: 100px;
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
    padding: 15px 20px;
}

  /* Изображение */
  .change-img {
   
    position: relative;
    perspective: 1000px;
    width: 100%;
    height: 100%;
    min-width: 270px;
    min-height: 180px;
    
  }
  .change-img:hover .front-side-img {
    transform: rotateX(180deg);
  }
  .change-img:hover .back-side-img {
    transform: rotateX(360deg);
  }
  /* Стороны изображения */
  .front-side-img, .back-side-img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
   }
  
  /* .back-side-img img {
    
    transform: scaleX(-1);/* Отражаем изображение по горизонтали */
  
  .back-side-img {
    transform: rotatex(180deg);
  }